@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gray: #212121;
  --gray-light: #b6b6b6;
  --orange: #ff7300;
  --white-light: #f9fafc;
}
html {
  font-family: 'Roboto', sans-serif;
  background-color: #f6f6f6;
  min-width: 360px;
  scroll-behavior: smooth;
}
code {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}
.cover {
  background-color: #313131;
  border-radius: 0 0 50px 50px;
}
