@import './base/mixins';

.presentation {
  $parent: &;
  background-color: var(--gray);
  margin-top: -95px;
  padding-top: 130px;
  height: 100vh;
  min-height: 700px;
  max-height: 750px;
  border-radius: 0 0 50px 50px;
  @include mq-sm {
    border-radius: 0;
    min-height: 800px;
    max-height: 100vh;
    display: flex;
    align-items: center;
    padding-top: 60px;
  }
  &__data {
    line-height: 1.2;
    h1 {
      color: var(--orange);
      font-size: 3.8rem;
      font-weight: 800;
      @include mq-xs {
        font-size: 3.1rem;
      }
    }
    h4 {
      color: var(--gray-light);
      font-size: 1.25rem;
      margin: 0;
      span {
        color: #fff;
      }
    }
    &--button {
      color: #fff;
      margin: 35px 0;
      font-weight: 400;
      a {
        border: 1px solid #fff;
        padding: 14px 40px;
        border-radius: 50px;
      }
      .active {
        background-color: var(--orange);
        border: 0;
      }
    }
  }
  &__social {
    &--icons {
      width: 100px;
      a {
        filter: brightness(0) invert(1);
        border: 1px solid #fff;
        padding: 4px;
        width: 37px;
        border-radius: 8px;
        margin: 5px 0;
      }

      &::before {
        content: '';
        width: 1px;
        height: 355px;
        position: absolute;
        background: rgb(241, 242, 246);
        background: linear-gradient(
          180deg,
          rgba(241, 242, 246, 0) 0%,
          rgba(255, 255, 255, 1) 39%
        );
        top: -220px;
        @include mq-sm {
          display: none;
        }
      }
    }
    &--image {
      margin: auto;
      width: 265px;
    }
    &--experience {
      width: 100px;
      button {
        border: 1px solid var(--gray-light);
        border-radius: 50px;
        height: 50px;
        position: relative;
        width: 29px;
        img {
          filter: brightness(1) invert(0.8);
          width: 27px;
          position: absolute;
          top: 5px;
          animation: scroll ease-in-out 1s infinite alternate;
        }
      }
    }
  }
}

@keyframes scroll {
  0% {
    top: 5px;
  }
  100% {
    top: 18px;
  }
}
