@import './base/mixins';

.skills {
  $parent: &;
  @include mq-md {
    margin: 20px 0 130px 0;
    scroll-margin: 60px;
  }
  &__map {
    min-height: 450px;
    &--item {
      border: 1px solid #fff;
      border-radius: 8px;
      height: 270px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @include mq-sm {
        height: 185px;
        img {
          width: 75px;
        }
      }
      p {
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        padding: 15px 0 0 0;
      }
    }
    h2 {
      color: var(--orange);
      font-size: 2.5rem;
      font-weight: 300;
    }
    @include mq-sm {
      min-height: auto;
      h2 {
        font-size: 2rem;
      }
    }
  }
}
