.skills {
  $parent: &;
  &__map {
    height: 450px;
    &--item {
      border: 1px solid #fff;
      border-radius: 8px;
      padding: 40px 60px;
      p {
        font-size: 1.5rem;
        color: #fff;
        text-align: center;
        padding: 15px 0 0 0;
      }
    }
    h2 {
      color: var(--orange);
      font-size: 2.5rem;
      font-weight: 300;
    }
  }
}
