.stack {
  $parent: &;
  min-height: 500px;
  &__list {
    h2 {
      color: var(--orange);
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 20px;
    }
    &--item {
      position: relative;
      font-size: 1.1rem;
      margin: 10px 0;
      &::before {
        content: '';
        position: absolute;
        border: 1px dashed #8a8a8a;
        width: 100%;
      }
      &:nth-last-child(2) {
        opacity: 0.7;
      }
      &:nth-last-child(1) {
        opacity: 0.2;
      }
    }
    &--type {
      color: #fff;
      background-color: #313131;
      z-index: 2;
      padding: 0 10px;
    }
    &--experience {
      color: var(--gray-light);
      background-color: #313131;
      z-index: 2;
      padding: 0 10px;
    }
    &--button {
      color: #fff;
      border: 1px solid var(--gray-light);
      border-radius: 8px;
      padding: 10px 20px;
      margin-top: 15px;
    }
  }
}
.stack-animation {
  $parent: &;
  position: relative;
  &__item {
    border-radius: 10px;
    padding: 10px 40px;

    p {
      color: #fff;
      span {
        color: var(--gray-light);
      }
    }

    &.first {
      position: absolute;
      background-color: #313131;
      top: 15%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      scale: 0.75;
      transform-origin: 0;
      opacity: 0.2;
      z-index: 1;
    }
    &.secondary-first {
      position: absolute;
      background-color: #4a4a4a;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      scale: 0.9;
      transform-origin: 0;
      opacity: 0.4;
      z-index: 2;
    }
    &.active {
      position: absolute;
      background-color: var(--gray);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      z-index: 3;
    }
    &.secondary-last {
      position: absolute;
      background-color: #4a4a4a;
      top: 68%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      scale: 0.9;
      transform-origin: 0;
      opacity: 0.4;
      z-index: 2;
    }
    &.last {
      position: absolute;
      background-color: #313131;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      scale: 0.75;
      transform-origin: 0;
      opacity: 0.2;
      z-index: 1;
    }
  }
}
