@import './base/mixins';

$animation-timing: 20s;
$carousel-items: 12;
$animation-delay-fraction: calc($animation-timing / $carousel-items);
$animation-steps-fraction: calc(100 / $carousel-items);
$slide-change-timing: 4;

.stack {
  $parent: &;
  min-height: 500px;
  @include mq-md {
    padding-bottom: 50px;
  }
  &__list {
    h2 {
      color: var(--orange);
      font-size: 2.5rem;
      font-weight: 300;
      margin-bottom: 20px;
    }
    &--item {
      position: relative;
      font-size: 1.1rem;
      margin: 10px 0;
      &::before {
        content: '';
        position: absolute;
        border: 1px dashed #8a8a8a;
        width: 100%;
      }
      &:nth-last-child(2) {
        opacity: 0.7;
      }
      &:nth-last-child(1) {
        opacity: 0.2;
      }
    }
    &--type {
      color: #fff;
      background-color: #313131;
      z-index: 2;
      padding: 0 10px;
    }
    &--experience {
      color: var(--gray-light);
      background-color: #313131;
      z-index: 2;
      padding: 0 10px;
    }
    &--button {
      color: #fff;
      border: 1px solid var(--gray-light);
      border-radius: 8px;
      padding: 10px 20px;
      margin-top: 15px;
    }
  }
}
.stack-animation {
  $parent: &;
  position: relative;
  min-height: 375px;
  width: 540px;
  margin: auto;
  &__item {
    border-radius: 10px;
    padding: 10px 40px;
    position: absolute;
    pointer-events: none;
    top: 40%;
    left: 0;
    animation: animate $animation-timing linear infinite reverse;
    background-color: var(--gray);
    width: 100%;
    opacity: 0;
    p {
      color: #fff;
      span {
        color: var(--gray-light);
      }
    }
    &:last-child {
      animation-delay: calc(-#{$animation-delay-fraction} * 2);
    }
  }
}

@media (max-width: 630px) {
  .stack-animation {
    width: 100%;
  }
}

/*@media (max-width: 760px) {
  .stack-animation {
    &__item {
      left: 10%;
    }
  }
}*/

@for $i from 1 through ($carousel-items - 1) {
  .stack-animation__item:nth-child(#{$i}) {
    animation-delay: calc(
      #{$animation-delay-fraction} * #{$i - $carousel-items}
    );
  }
}

@keyframes animate {
  0% {
    transform: translateY(100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
  #{$slide-change-timing}%,
  #{$animation-steps-fraction}% {
    transform: translateY(100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  #{$animation-steps-fraction + $slide-change-timing}%,
  #{$animation-steps-fraction * 2}% {
    transform: translateY(0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  #{($animation-steps-fraction * 2) + $slide-change-timing}%,
  #{$animation-steps-fraction * 3}% {
    transform: translateY(-100%) scale(0.7);
    opacity: 0.4;
    visibility: visible;
  }
  #{($animation-steps-fraction * 3) + $slide-change-timing}% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: visible;
  }
  100% {
    transform: translateY(-100%) scale(0.5);
    opacity: 0;
    visibility: hidden;
  }
}
