@import './base/mixins';

.whoAmI {
  $parent: &;
  min-height: 430px;
  color: #fff;
  margin-top: 90px;
  @include mq-sm {
    margin: 110px 0;
    scroll-margin: 60px;
  }
  &__info {
    font-size: 1.1rem;
    h2 {
      color: var(--orange);
      font-size: 2.5rem;
      font-weight: 300;
      padding-bottom: 20px;
    }
  }
  &__like {
    font-size: 1.5rem;
    &--content {
      border-radius: 50%;
      width: 140px;
      height: 140px;
      padding: 8px;
      width: 140px;
      height: 140px;
      position: relative;
    }
    &--svg {
      position: absolute;
      width: 120px;
      height: 120px;
      opacity: 0;
      animation: animatedLike 16s linear infinite;
      &:nth-child(1) {
        animation-delay: 0s;
      }
      &:nth-child(2) {
        animation-delay: 4s;
      }
      &:nth-child(3) {
        animation-delay: 8s;
      }
      &:nth-child(4) {
        animation-delay: 12s;
      }
    }
  }
}

@keyframes animatedLike {
  0% {
    transform: translateX(0);
    opacity: 0;
    transform: rotate(0deg);
  }
  2% {
    opacity: 1;
    transform: rotate(370deg);
  }
  3% {
    transform: rotate(350deg);
  }
  4% {
    transform: rotate(360deg);
  }
  25% {
    opacity: 1;
    transform: rotate(360deg);
  }
  26% {
    opacity: 0;
  }
  30%,
  100% {
    transform: translateX(0);
    opacity: 0;
  }
}
