---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
import Presentation from '../components/Presentation.astro';
import WhoAmI from '../components/WhoAmI.astro';
import MoreInfo from '../components/MoreInfo.astro';
import Skills from '../components/Skills.astro';
import Stack from '../components/Stack.astro';
import Contact from '../components/Contact';
---

<Layout title='Daniel Ruiz. Frontend Developer | Digital Designer'>
  <main>
    <article class='cover'>
      <Presentation />
      <MoreInfo />
      <WhoAmI />
      <Skills />
      <Stack />
    </article>
    <Contact
      client:visible
      si={import.meta.env.SERVICE_ID}
      ti={import.meta.env.TEMPLATE_ID}
      pk={import.meta.env.EMAIL_PUBLIC_KEY}
    />
  </main>
</Layout>
