---
import '../styles/more-info.scss';
---

<section
  class='flex justify-between info mx-auto columns-2 max-w-2xl text-center mt-8'
>
  <div class='info__item w-60'>
    <h2>4</h2>
    <p>Years of experience</p>
  </div>
  <div class='info__item w-60'>
    <h2>JS</h2>
    <p>Favorite programming language</p>
  </div>
</section>
