---
import Svg from '@jasikpark/astro-svg-loader';
import '../styles/skills.scss';
---

<section class='max-w-screen-lg mx-auto skills px-4'>
  <div
    class='grid lg:grid-cols-4 sm:grid-cols-4 grid-cols-2 items-center place-items-center skills__map gap-5'
    id='skills'
  >
    <div class='skills__map--item'>
      <Svg
        src={import('../assets/creativity.svg?raw')}
        aria-label='Soft skill - Creativity'
      />
      <p>Creativity</p>
    </div>
    <div class='skills__map--item'>
      <Svg
        src={import('../assets/leadership.svg?raw')}
        aria-label='Soft skill - Leadership'
      />
      <p>Leadership</p>
    </div>
    <div class='skills__map--item'>
      <Svg
        src={import('../assets/flexibility.svg?raw')}
        aria-label='Soft skill - Flexibility'
      />
      <p>Flexibility</p>
    </div>
    <h2>Soft skills</h2>
  </div>
</section>
