---
import { Image } from '@astrojs/image/components';
import vinile from '../assets/vinile.svg';
import '../styles/who-am-i.scss';
---

<section
  class='max-w-screen-lg mx-auto grid md:grid-cols-2 grid-cols-1 whoAmI items-center px-8 text-center md:text-left'
>
  <div class='whoAmI__info'>
    <h2>Who am I?</h2>
    <p class='pb-12'>
      Frontend Developer + Digital Designer with 4 years of experience looking
      for optimal solutions for the end user and the company. I have 2 years
      serving as a Frontend team leader running development based on React JS. I
      like to constantly learn either technologies, methodologies or reinforce
      soft skills and teach my knowledge in development and design.
    </p>
  </div>
  <div
    class='flex items-center md:justify-end justify-center whoAmI__like gap-6'
  >
    <p>I like</p>
    <div class='grid place-items-center whoAmI__like--svg'>
      <Image src={vinile} width={124} height={124} alt='I like music' />
    </div>
  </div>
</section>
