---
import { Image } from '@astrojs/image/components';
import music from '../assets/music.svg';
import '../styles/who-am-i.scss';
---

<section
  class='max-w-screen-lg mx-auto grid md:grid-cols-2 grid-cols-1 whoAmI items-center'
>
  <div class='whoAmI__info'>
    <h2>Who am I?</h2>
    <p>
      I am a Colombian motivated by the relationship between design and
      development. I have with 4 years of experience. I seek to constantly learn
      and seek optimal solutions between the company and the end user.
    </p>
  </div>
  <div class='flex items-center justify-end whoAmI__like gap-6'>
    <p>I like</p>
    <div class='grid place-items-center whoAmI__like--svg'>
      <Image src={music} width={124} height={124} alt='I like music' />
    </div>
  </div>
</section>
