---
import Svg from '@jasikpark/astro-svg-loader';
import '../styles/who-am-i.scss';
---

<section
  class='max-w-screen-lg mx-auto grid md:grid-cols-3 grid-cols-1 whoAmI items-center px-8 text-center md:text-left'
  id='who-am-i'
>
  <div class='whoAmI__info col-span-2'>
    <h2>Who am I?</h2>
    <p class='pb-12'>
      Digital Designer focused on Frontend development with more than 4 years of
      experience creating and optimizing web pages and applications for the
      education and logistics sector. I am excited to bring Front design and
      development together to translate an idea into a complete user experience
      by researching and using design trends with new technologies for Front.
    </p>
  </div>
  <div
    class='flex items-center md:justify-end justify-center whoAmI__like gap-6'
  >
    <p>I like</p>
    <div class='grid place-items-center whoAmI__like--content'>
      <Svg
        class='whoAmI__like--svg vinile'
        src={import('../assets/vinile.svg?raw')}
        aria-label='Cool illustration of an abstract nebula'
      />
      <Svg
        class='whoAmI__like--svg cup'
        src={import('../assets/cup.svg?raw')}
        aria-label='Cool illustration of an abstract nebula'
      />

      <Svg
        class='whoAmI__like--svg beer'
        src={import('../assets/beer.svg?raw')}
        aria-label='Cool illustration of an abstract nebula'
      />

      <Svg
        class='whoAmI__like--svg games'
        src={import('../assets/games.svg?raw')}
        aria-label='Cool illustration of an abstract nebula'
      />
    </div>
  </div>
</section>
